._rp_wrapper {
  display: flex !important;
  align-items: stretch !important;
  flex-direction: column !important;
  padding-bottom: 2px;
  --rp-primary:#3882FE;
  --rp-red:#EF4540;
  --rp-green:#11B882;
  --rp-violet:#6D5F97;
  --rp-gray:#A6AAA9;
  box-sizing: border-box;
  color: black;
  border-color: black;
}
._rp_wrapper.loading * {
  pointer-events: none;
  opacity: 0.8;
}

._rp_wrapper .hidden {
  display: none;
}
._rp_row {
  width: 100% !important;
  margin-bottom: 8px !important;
}
._rp_flex_row{
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: space-between;
}
._rp_button{
  border: none !important;
  border-radius: 5px !important;
  padding: 8px 5px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}
/* tone buttons */
._rp_tone_buttons_wrapper {
  width: 100% !important;
gap: 5px!important;
  display: grid !important;
  grid-template-columns: repeat(5,1fr);
}
._rp_tone_button,._rp_lang_picker {
  background-color: var(--rp-primary) !important;
  color: white !important;
  
}
._rp_tone_button._rp_clicked:nth-child(2){
  background: var(--rp-red);
}
._rp_tone_button._rp_clicked:nth-child(2){
  background: var(--rp-gray);
  color: black;
}
._rp_tone_button._rp_clicked:nth-child(2){
  background: var(--rp-green);
}
._rp_tone_button._rp_clicked:nth-child(2){
  background: var(--rp-violet);
}
._rp_show_more_button{
  background-color: #BFDDF6;
  color: var(--rp-primary);
  font-weight: 300;
}

/* custom prompt: */
._rp_prompt_input_wrapper {
  display: flex !important;
  flex-direction: column !important;
  align-items: stretch !important;
}
._rp_prompt_input_wrapper {
  width: 100% !important;
}
._rp_wrapper label {
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 3px;
  font-size: 10px;

  color: inherit !important;
}
._rp_prompt_input_wrapper textarea {
  color: inherit !important;
  border: 1px solid inherit !important;
  background: transparent !important;
  border-radius: 5px !important;
  padding: 3px 8px !important;
  font-size: 12px !important;
  width: auto !important;
  height: 80px !important;
  text-align: left;
}

._rp_submit_button {
  background-color: var(--rp-primary) !important;
  color: white !important;
}
._rp_save_button{
  background-color: var(--rp-green);
  color: white;
}
._rp_view_saved_button{

  background-color: var(--rp-primary) !important;
  color: white !important;
}
._rp_submit_button.disabled {
  pointer-events: none !important;
  opacity: 0.5 !important;
}
._rp_submit_button.disabled:hover {
  cursor: not-allowed !important;
}

/* range input */
._rp_range_container{
  text-align: center;
  margin-top: 16px;
}


/* saved comments */
._rp_comments_container h5{
  margin-top: 0rem;
  margin-bottom: 5px;
  font-size: 14px;
}
._rp_comments_container p{
  margin-top: 0rem;
  margin-bottom: 10px;
  font-size: 12px;
}